*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid black;
}

.clock{
    position: relative;
}

.needle{
    height: 100px;
    width: 3px;
    background-color: brown;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: bottom left;
    transition: all 0.2s ease-in-out;
}

.hour{
    background-color: black;
    height: 65px;
    position: absolute;
    top: 35px;
    transform: rotate(0deg);
}

.center{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 98px;
    left: 50%;
    /* 将其旋转至中心 */
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: blanchedalmond;
}