* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

html {
    transition: all 0.5s ease-in;
}

/* 点击按钮之后背景变黑 其他部件颜色变白 必须都设置这其中的颜色 */
html.dark {
    --primary-color: #fff;
    --secondary-color: #333;
}

html.dark {
    background-color: #111;
    color: var(--primary-color);
}

.toggle {
    width: 89px;
    height: 31px;
    background-color: var(--primary-color);
    border-radius: 4px;
    color: var(--secondary-color);
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 100px;
}

.toggle:focus {
    outline: none;
}

.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: orange;
}

.needle {
    background-color: var(--primary-color);
    width: 3px;
    height: 65px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
    transition: all 0.5s ease-in;
}

.needle.hour {
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
}

.needle.second {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
    background-color: #e74c3c;
}

.center-point {
    background-color: var(--primary-color);
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* 将其旋转至中心 */
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 3px solid #e74c3c;
}

.time {
    font-size: 60px;
}

.date {
    color: #aaa;
    font-size: 14px;
    letter-spacing: 0.3px;
    /* 定义文本只有大写字母 */
    text-transform: uppercase;
}

.date .circle {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    transition: all 0.5s ease-in;
    font-size: 12px;
}